<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>dev.kanata.kanata</string>

    <key>ProgramArguments</key>
    <array>
        <string>KANATA_EXECUTABLE_PATH</string>
        <string>--cfg</string>
        <string>KANATA_CONFIG_PATH</string>
        <string>--nodelay</string>
    </array>

    <key>UserName</key>
    <string>root</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>StandardOutPath</key>
    <string>/var/log/kanata.log</string>

    <key>StandardErrorPath</key>
    <string>/var/log/kanata.log</string>
</dict>
</plist>
