[Unit]
Description=Kanata Service
After=dev-input.device

[Service]
ExecStart=KANATA_EXECUTABLE_PATH --cfg KANATA_CONFIG_PATH --nodelay
Restart=no

[Install]
WantedBy=default.target
